
.icon-single-action:before { content: '\e800'; } /* '' */
.icon-reaction:before { content: '\e801'; } /* '' */
.icon-play-1:before { content: '\e802'; } /* '' */
.icon-free-action:before { content: '\e803'; } /* '' */
.icon-double-action:before { content: '\e804'; } /* '' */
